<mat-toolbar mat-toolbar [routerLink]="['/']">
    <!--this is the main router link which opens as default when app.component.html calls router-outlet -->
    <button mat-icon-button (click)="flag = !flag ; value()">
        <!--(click)="flag= !flag" this is the property which i want to send to the child component (sidenav component)-->
        <mat-icon>menu</mat-icon>
    </button>
    <a class="a-menu">
        <h1 class="h1-menu">Notes</h1>
    </a>
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="/login"  routerLinkActive="active" (click)="openDialog(0)">Login</button><!--routerlink not working properly-->
    &nbsp;
    <button mat-raised-button routerLink="/signin" routerLinkActive="active"  (click)="openDialog(1)">Sign In</button><!--routerlink not working properly-->
</mat-toolbar>

<!--app-navbar (valueChange)='sb.toggleCustom($event)'></app-navbar-->
<!--this is nothing-->

<app-sidebar [flag]="flag"></app-sidebar>