.divo {
    font-size: 200%;
    height: 100%;
    position: relative }
.divi {
    display: flex;
    text-align: center;
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

p {
    position: relative;
    top: 5px;
}
h1 {
    font-size: 200%;
}