.sidenav-container {
  height: 100%;
}

.sidenav {
  flex: 1, auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

  .sidenav-content {
    top: 64px;
  }
  
  .icon {
    
    font-size: 40px;
  }
  .bt {
    width: 100%;
    position:absolute;
    bottom:0; 
  }
  .mat-list-item-content {

  }